<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <!-- Page Title-->
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data!</a></p>
    </div>
  
    <div class="container-fluid">
      <h2><strong>Latest Mars News</strong></h2>
      <h3><strong>{{mars.mars_news_title}}</strong></h3>
      <p>{{mars.mars_news_paragraph}}</p>
    </div>
    <div class="container-fluid">
      <h2><strong>Featured Mars Image</strong></h2>
      <img src="{{mars.mars_featured_image}}" style="max-width:100%; max-height: auto;"/>
      <h2><strong>Mars Facts</strong></h2>
      <p>{{mars.mars_facts | safe}}</p>
    </div>
    <div class="container-fluid">
      <h2><strong>Mars Hemispheres</strong></h2>
    </div>

  </div>

</body>

</html>